body {
  font-family: 'Inter', sans-serif;
  color: #000000;
  width: 320px;
  background-color: #dba89b;
  margin: 0 auto;
  margin-top: 50px;
}


/* INTRO */
.intro__img {
  width: 100%;
  border-radius: 10px 10px 0 0;

}

h1 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 5px;
  text-align: center;
}

.intro__position {
  color: #94310e;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.intro__buttons {
  width: 250px;
  margin: 15px auto;
  display: flex;
  justify-content: space-between;
}

.intro__buttons button {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 115px;
  height: 34px;
  border-radius: 6px;
  border-style: none;
}

.intro__icons {
  width: 16px;
  height: 16px;
  padding-right: 10px;
  vertical-align: middle;
  margin-bottom: 2px;
}


.linkedin__button {
  background-color: #0077b5;
  color: #FFFFFF;
}

/* ABOUT AND INTERESTS */
h4 {
  color: #94310e;
  font-size: 16px;
  font-weight: 700;
  width: 250px;
  margin: 25px auto 5px auto;
}

p {
  font-size: 12px;
  width: 250px;
  margin: 0 auto;
  font-weight: 300;
}


/* FOOTER */
.footer {
  background-color: #d58d7c;
  width: 317px;
  height: 64px;
  margin: 20px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.footer__icons {
  width: 25px;
  height: 25px;
}
